[train] #train parameters
epoch = 30
batch_size = 3

shuffle = True

reader_num = 1

optimizer = bert_adam
learning_rate = 1e-4
step_size = 1
lr_multiplier = 1
weight_decay = 0.99

[eval] #eval parameters
batch_size = 6

shuffle = False

reader_num = 1

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = BertLJP
train_data_path = data
train_file_list = test_event.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = BertLJP
valid_data_path = data
valid_file_list = test_event.json

test_dataset_type = JsonFromFiles
test_formatter_type =BertLJP
test_data_path = data
test_file_list = test_event.json

authority_path = data/authority.txt
evaluation_path = data/evaluation.txt

max_seq_length = 256

[model] #model parameters
model_name = LJPBert

bert_path = bert-base-chinese

hidden_size = 768

[output] #output parameters
model_path = model/ljp/
model_name = Bert

tensorboard_path = tensorboard
output_time = 10
output_function = QC
test_time = 1