.header{
    display: flex;
    align-items: center;
    background-color: #b6b6b65b;

    border-bottom: 2px solid #424242;
    ;

}

.header-menu {
    width: 100%;
    gap: 10px;
    font-size: 1.3rem;

    background-color: transparent;
    color: rgb(114, 114, 114);

    display: flex;
    justify-content: right;
}

.ant-menu-item{
    transition: 0.2s !important;
}

.ant-menu-item-active{
 color: rgb(0, 0, 0) !important;
 font-size: 110%;

 transition: 0.4s !important;
}


.ant-menu-item-selected{
    color: rgb(255, 255, 255) !important;
    background: rgb(90, 98, 104) !important;
    font-size: 120%;

    transition: 0.2s !important;
}